<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pioneer Task</title>
    <style>
        body{
            background: linear-gradient(lightgray,gray);
        }
        p{
            color: blue;
            font-style: italic;
            font-size: 20px;
        }
        ul{
            list-style: none;
        }
        .img{
            position: absolute;
            right: 100px;
            top: 150px;
        }
        body div:nth-child(1){
            margin-left: 100px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div>
        {% if hero_title != 'None' and hero_name != 'None' %}
        <h1>{{ hero_title }} : {{ hero_name }}</h1>
        <p>技能说明:</p>

        <ul style="width: 500px">
            {% for i in skill_name %}
            {% if i != 'None' %}
            <li style="font-size: 30px; color: black;">{{ i }}:</li>
            <li>{{ skill_desc[skill_name.index(i)] }}</li>
            <br>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
    <div class="img">
        <img src="https://game.gtimg.cn/images/yxzj/img201606/heroimg/{{hero_id}}/{{hero_id}}-mobileskin-1.jpg">
    </div>
</body>
</html>