<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PioneerTask</title>
</head>
<body>
    <div>
        <form action="/hero" method="post">
            <label for="name">请输入想要查询的英雄：</label>
            <input type="text" name="hero_name" class="name" id="name">
            <input type="submit" value="check it!" class="submit">
        </form>
    </div>
    <div>
        <form action="/item" method="post">
            <label for="iname">请输入想要查询的装备：</label>
            <input type="text" name="item_name" class="iname" id="iname">
            <input type="submit" value="check it!" class="submit">
        </form>

    </div>
</body>
</html>